.header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.logo-container img {
  height: 132px;
}
.nav-items {
  padding: 0px 20px;
}
.nav-item > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}
.nav-item > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-logo {
  height: 270px !important;
}
.res-card {
  float: left;
  width: 240px !important;
  padding: 5px !important;
 
.res-info {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100% !important;
}
.res-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100% !important;
  gap: 20px !important;
  flex-wrap: wrap;
}
.res-container .card-border{
  border: 1px solid black !important;
}
